<div class="row">
  <div class="masonry-container" *ngIf="products.length > 0">
    <div class="masonry-brick margin-bottom-24 col-sm-6" *ngFor="let product of products">
      <div class="pos-absolute pos-right-12 pos-top-12">
        <span class="tags">
           <span class="price-tag"><a href="javascript:void()">{{ product.price }}{{ product.currency }}</a></span>
        </span>
      </div>
      <a routerLink="/product/{{ product.id }}">
        <img id="image-{{ product.id }}" width="100%" height="auto" src="{{ url }}/{{ product.thumbnail }}">
      </a>
      <div id="thumbnail-{{ product.id }}" class="padding-right-12 padding-bottom-12 white" style="display: flex;">
        <ng-container *ngIf="(product.image | split: ',').length > 1">
          <div class="pos-relative margin-top-12 margin-left-12" *ngFor="let image of product.image | split: ','">
            <img id="image-{{ image.id }}" class="full-height" width="100%" height="auto" src="{{ url }}/{{ image }}">
          </div>
        </ng-container>
      </div>
      <div class="padding-right-12 padding-left-12 padding-bottom-12 white">
        <p class="margin-bottom-0"><a [style.color]="headlineColor" routerLink="/product/{{ product.id }}" class="h4">{{ product.name }}</a></p>
        <p [style.color]="textColor" class="margin-bottom-12"><small>By <a [style.color]="linkColor" routerLink="/user/{{ product.user_id }}">{{ product.user_name }}</a> in <a [style.color]="linkColor" routerLink="/category/{{ product.category_id }}">{{ product.category }}</a></small></p>
        <p [style.color]="textColor" class="margin-bottom-0 reader-settings">{{ (product.description.length > 300) ? (product.description | slice: 0: 250) + '...' : product.description }}</p>
      </div>
      <div class="padding-right-12 padding-bottom-12 padding-left-12 white">
        <p class="margin-bottom-3"><strong>Information</strong></p>
        <ul class="list-unstyled margin-bottom-0 list-inline">
          <li class="margin-bottom-3" *ngIf="product.shipping_fee > 0">Verandkosten: {{ product.shipping_fee }}{{ product.currency }}</li>
          <li class="margin-bottom-3" *ngIf="product.shipping_fee == 0">Kostenloser Versand</li>
          |
          <li class="margin-bottom-3">Artikelzustand: {{ product.condition }}</li>
          |
          <li class="">Standort: {{ product.zip }} {{ product.city }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" style="display: flex; align-items: center; justify-content: center;">
  <div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div [style.color]="textColor" [style.background-color]="infoColor" class="alert" *ngIf="!loading && products.length == 0">Sorry there are no products listed!</div>
