<ul class="list-unstyled margin-bottom-0">
  <li class="tender padding-12" *ngFor="let product of products">
    <div class="row">
      <div class="col-sm-3">
        <img class="" width="100%" height="auto" src="data:image/jpg;base64,{{ product.thumbnail }}">
      </div>
      <div class="col-sm-9">
        <ng-container *ngIf="product.user_id == userId">
          <button class="pull-right btn btn-primary btn-xs glyphicon glyphicon-edit" (click)="showUpdateForm(product.id)"></button>
          <button class="pull-right btn btn-danger btn-xs glyphicon glyphicon-trash margin-right-6" (click)="removeProduct(product.id)"></button>
        </ng-container>
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
      </div>
    </div>
  </li>
</ul>
