<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="wrapper margin-bottom-24">
      <app-search></app-search>
      <app-category></app-category>
    </div>
  </div>
  <div class="col-sm-8 col-md-9">
    <ul *ngIf="products" class="list-unstyled margin-bottom-0">
      <li class="margin-bottom-24 white" *ngFor="let product of products">
        <div class="row">
          <div class="col-md-6 box-product-image">
            <a routerLink="/product/{{ product.id }}">
              <img width="100%" height="auto" src="{{ url }}/{{ product.thumbnail }}">
            </a>
          </div>
          <div class="col-md-6 box-product-text">
            <div class="padding-right-12 padding-bottom-12 padding-left-12">
              <div class="pos-absolute pos-right-12">
                <span class="tags">
              	   <span class="price-tag"><a href="javascript:void()">{{ product.price }}{{ product.currency }}</a></span>
                </span>
              </div>
              <p class="margin-bottom-0"><a [style.color]="headlineColor" routerLink="/product/{{ product.id }}" class="h4">{{ product.name }}</a></p>
              <p [style.color]="textColor" class="margin-bottom-12"><small>By <a [style.color]="linkColor" routerLink="/user/{{ product.user_id }}">{{ product.user_name }}</a> in <a [style.color]="linkColor" routerLink="/category/{{ product.category_id }}">{{ product.category }}</a></small></p>
              <p [style.color]="textColor" class="margin-bottom-0">{{ (product.description.length > 300) ? (product.description | slice: 0: 300) + '...' : product.description }}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div *ngIf="loading" style="display: flex; align-items: center; justify-content: center;">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div [style.color]="textColor" [style.background-color]="infoColor" class="alert" *ngIf="!loading && products.length == 0">Sorry there are no products listed!</div>
  </div>
</div>
