<div class="row">
  <div class="col-xs-12">
    <h1>Datenschutzerklärung</h1>
  </div>
</div>
<div class="col-xs-12 white margin-bottom-24 reader-settings">
  <h2>Allgemeines</h2>
  <p>Diese Datenschutzerklärung findet Anwendung auf der Online-Plattform <a href="http://juuwl.de">juuwl.de</a>. Nähere Hinweise zur Kontaktaufnahme mit uns findest du am Ende dieser Datenschutzerklärung.</p>
  <p>Der Schutz deiner Privatsphäre ist uns sehr wichtig! Wir verkaufen oder vermieten deine personenbezogenen Daten nicht. Alle Daten werden bei uns gemäß der EU-Datenschutz-Grundverordnung, sonstigen gesetzlichen Bestimmungen, erhoben, gespeichert und
    sonst verarbeitet und nicht an Dritte weitergegeben, es sei denn, wir sind hierzu gesetzlich verpflichtet, dies ist für die Erbringung unserer Dienste erforderlich oder du hast der Weitergabe deiner Daten ausdrücklich zugestimmt.</p>
  <p>Die von uns über die Website angebotenen Dienste können allerdings nur funktionieren, wenn wir bestimmte dich betreffende personenbezogene Daten erheben, speichern, übermitteln, löschen und/oder auf sonstige Weise nutzen (“verarbeiten” oder “Verarbeitung”).
    Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person beziehen (“Daten”), zum Beispiel dein Name, Geburtsdatum, deine Anschrift und E-Mail-Adresse.</p>
  <p>Diese Datenschutzerklärung beschreibt, welche deiner Daten wir erheben und für welche Zwecke wir sie verarbeiten, wenn du die von uns auf der Plattform angebotenen Dienste nutzt. Zudem enthält diese Datenschutzerklärung weitere wichtige Informationen
    zum Schutz deiner Daten, insbesondere welche gesetzlichen Rechte du hinsichtlich deiner Daten hast.</p>
  <p>Bestimmte Dienste auf unserer Plattform werden von Drittanbietern angeboten. Bei Nutzung dieser Dienste gelten dann ergänzend zu dieser Datenschutzerklärung die Datenschutzbestimmungen der Drittanbieter. Es kann sein, dass die Drittanbieter dich vor
    Nutzung der Dienste zur Abgabe einer datenschutzrechtlichen Einwilligung auffordern.</p>
  <h2>Welche deiner Daten wir verarbeiten</h2>
  <h3>Aufruf der Website</h3>
  <p>Wenn du die Website aufrufst, verarbeiten wir – auch wenn du auf der Website nicht als Mitglied eingeloggt bist – folgende Daten (Log-Files):</p>
  <pre><code>die IP-Adresse deines Endgeräts;
den von deinem Endgerät verwendeten Browser;
die von dir aufgerufenen Inhalte und URLs;
das Datum und die Uhrzeit der Aufrufe;
</code></pre>
  <p>Ohne deine ausdrückliche Einwilligung nutzen wir die in dieser Ziffer genannten personenbezogenen Daten, insbesondere die IP-Adresse, nur, (i) soweit dies zur Erbringung unserer Dienste und/oder (ii) zu Sicherheitszwecken erforderlich ist, insbesondere
    um Cyber-Angriffe (z.B. “data scraps”, “Denial of Service Attacks”) und unzulässige Mehrfachanmeldungen zu verhindern.</p>
  <h3>Registrierung als Mitglied</h3>
  <p>Um die Dienste unserer Plattform zu nutzen, insbesondere um Handel über die Plattform zu betreiben, das elektronische Zahlungssystem zu nutzen, oder Bewertungen abzugeben und mit anderen Mitgliedern zu kommunizieren, benötigst du einen juuwl-Account.
    Dafür musst du dich auf der Website als Mitglied registrieren. Falls du über einen Facebook- oder Google-Account verfügst, kannst du dich auch über einen dieser Accounts registrieren.</p>
  <h4>Registrierung über dein Facebook- oder Google-Account</h4>
  <p>Wenn du dich über dein Facebook- oder Google-Account registrierst, wirst du von unserer Website auf die Websites von Facebook bzw. Google weitergeleitet und dort zur Eingabe deiner Log-In-Daten deines Facebook- bzw. Google-Accounts aufgefordert. Im
    Falle der Eingabe der Google-Log-In-Daten erhält juuwl von Google folgende Daten deines Google-Accounts:</p>
  <pre><code>Profilbild
Vorname
Nachname
E-Mail-Adresse
</code></pre>
  <p>Nach der Eingabe der Facebook-Log-In-Daten kannst Du auf der Website von Facebook auswählen, ob zusätzlich zu deinem</p>
  <pre><code>Public Profile (insbesondere Mitgliedsname, Geschlecht, Profilbild)
</code></pre>
  <p>noch weitere Deiner Facebook-Daten an uns weitergegeben werden, d.h.</p>
  <pre><code>Friend List und/oder
E-Mail-Adresse.
</code></pre>
  <p>Bitte beachte, dass unter Beibehaltung der Voreinstellungen alle vorgenannten Facebook-Daten ausgewählt sind. Wenn du auf den Button “Continue as …” klickst, willigst du darin ein, dass deine ausgewählten Facebook-Daten an juuwl übermittelt werden.</p>
  <p>Die von Facebook bzw. Google erhaltenen Daten verwenden wir, um deinen Account bei juuwl einzurichten. Das heißt, dass wir insbesondere den Mitgliedsnamen deines Facebook- bzw. Google-Accounts als Mitgliedsnamen für deinen Account bei juuwl verwenden,
    so dass dieser gegenüber anderen Besuchern der Website sichtbar ist. Die ggf. von Facebook erhaltene Friend List nutzen wir dazu, um anderen Mitgliedern in deinem Profil die Anzahl deiner Freunde auf Facebook anzuzeigen und dadurch eine Vertrauensbasis
    für Transaktionen mit dir zu schaffen. Die übrigen von Facebook bzw. Google erhaltenen Daten werden auf der Plattform für niemanden sichtbar sein.</p>
  <p>Die Verknüpfung mit deinem Facebook- oder Google-Account kannst du jederzeit unter „Einstellungen“ in deinem juuwl-Account wieder rückgängig machen. Du kannst die Verknüpfung aber auch erst später aktivieren, falls du dich zunächst ohne Verknüpfung
    mit deinem Facebook- oder Google-Account registriert hast.</p>
  <h4>Registrierung ohne Facebook- oder Google Account</h4>
  <p>Wenn du dich nicht über ein Facebook- oder Google-Account registrieren möchtest, wirst du auf unserer Website zur Eingabe folgender Daten aufgefordert:</p>
  <pre><code>Mitgliedsname (Pflichtdaten für die Nutzung der Plattform)
E-Mail-Adresse (Pflichtdaten für die Nutzung der Plattform)
Passwort
Bestätigung zum Alter über 16 Jahre.
</code></pre>
  <p>Dein Mitgliedsname ist für alle Besucher der Website sichtbar, nicht aber die übrigen von dir im Rahmen der Registrierung angegebenen Daten. Der Mitgliedsname kann ein Pseudonym sein und muss nicht mit deinem richtigen Namen übereinstimmen.</p>
  <h4>Vervollständigung deines Profils</h4>
  <p>Nach deiner Registrierung kannst du in deinem juuwl-Account in der Rubrik “Einstellungen” optional weitere Informationen über dich deinem Profil hinzufügen:</p>
  <h5>Profil-Details</h5>
  <p>Unter “Profil-Details” kannst du die folgenden Daten hinzufügen:</p>
  <pre><code>Vor- und Nachname
Geschlecht
Geburtstag
Profilbild
Über dich
</code></pre>
  <p>Dein Profilbild und die in das Eingabefeld “Über dich” eingegebenen Informationen sind für andere Besucher der Website sichtbar, nicht aber die restlichen von dir angegeben Daten.</p>
  <h5>Versand</h5>
  <p>Unter “Versand” kannst du deine Adresse hinterlegen sowie ein Land und einen Standort (Stadt oder Stadtteil) angeben, an dem sich der von dir zum Verkauf angebotene Artikel befindet. Der von dir angegebene Standort ist für andere Mitglieder sichtbar;
    du kannst aber in der Rubrik “Einstellungen” unter “Privatsphäre-Einstellung” einstellen, dass dein Standort anderen Mitgliedern nichtangezeigt wird. Anderen Mitgliedern wird stets nur der ungefähre Standort angezeigt. Die restlichen von dir angegeben
    Daten sind für Besucher der Website sichtbar.</p>
  <h5>Bezahlung</h5>
  <p>Unter “Bezahlung” kannst du die Bankdaten (Name des Kontoinhabers und IBAN) des Kontos hinterlegen, auf das die Käufer der von dir über die Plattform verkauften Waren, die Bezahlungen vornehmen sollen. Falls ein Käufer die Bezahlmethode “Bezahlung per
    Banküberweisung” wählt, musst du ihm u.a. deine Kontodaten mitteilen. Um dir die Mitteilung zu erleichtern, kannst du deine Bankdaten unter “Bezahlung” hinterlegen. Ansonsten sind deine hinterlegten Bankdaten natürlich für niemanden sichtbar.</p>
  <h4>Nutzung der Plattform zur Abwicklung von Handel</h4>
  <p>Wir speichern und verarbeiten die Daten über deine Handelsaktivitäten auf der Plattform (z.B. Artikel, Preis, Zeitpunkt der Transaktion, etc.). Diese Daten kannst du in deiner Transaktionsübersicht in deinem Account einsehen.</p>
  <p>Sofern du Waren über unsere Plattform verkaufst, erheben wir zudem weitere Daten, die du generierst, wenn du Angebote auf der Plattform erstellst, insbesondere Bilder von der angebotenen Ware sowie Texte und sonstige Angaben zur Beschreibung der Ware
    (z.B. Marke, Preis, Größe, Zustand, Farbe, etc.), Angaben zur akzeptierten Zahlungsmethode, Standort, Kommentare zu Ware, etc. Diese Daten sind für Besucher der Website und Nutzer der App sichtbar.</p>
  <h3>Nutzung des elektronischen Zahlungssystems MANGOPAY</h3>
  <h5>Einrichtung des e-wallets</h5>
  <p>Falls du dich entscheidest, deine Zahlung an einen Verkäufer per Kreditkarte, PayPal oder SOFORT Überweisung vorzunehmen oder von einem Käufer eine mittels dieser Zahlungsmethoden getätigte Zahlung zu empfangen, oder sonstige kostenpflichtige Dienste
    auf der Plattform in Anspruch nehmen möchtest, wird die jeweilige Transaktion über unser elektronisches Zahlungssystem MANGOPAY abgewickelt, das von der MANGOPAY S.A., 10 Boulevard Royal, L-2449 Luxemburg (“MANGOPAY”) betrieben wird. Hierzu ist es
    erforderlich, dass du dir auf der Plattform ein sogenanntes e-wallet einrichtest (auf der Plattform “Geldbeutel” genannt) und uns folgende Daten mitteilst (die wir an MANGOPAY weitergeben):</p>
  <pre><code>Name
Vorname
Geburtsdatum
Rechnungsadresse
</code></pre>
  <h5>Bezahlung über MANGOPAY</h5>
  <p>Wenn du zur Abwicklung deiner Bezahlung das elektronische Zahlungssystem MANGOPAY nutzt, erhebt MANGOPAY die je nach gewählter Bezahlmethode (z.B. Kreditkarte, PayPal, SOFORT Überweisung) dafür erforderlichen Zahlungsinformationen. Die Zahlung wird
    dann über MANGOPAY und die ggf. von dir ausgewählten Zahlungsdienstleister (z.B. PayPal, SOFORT Überweisung) durchgeführt. Insoweit gelten die Datenschutzbestimmungen von MANGOPAY und des jeweiligen Zahlungsdienstleisters. Bei Nutzung der Bezahlmethode
    Kreditkarte erhält juuwl lediglich die letzten vier Ziffern deiner Kreditkartennummer. Diese Informationen nutzen wir ausschließlich zu Zwecken der Zahlungsbestätigung und Verhinderung von Betrugsfällen.</p>
  <h3>Kommunikation, Kommentare, Bewertungen</h3>
  <p>Bei Nutzung unserer Dienste erheben wir zudem folgende Daten:</p>
  <pre><code>Nachrichten, die du über die Plattform mit anderen Mitgliedern austauschst.
Beiträge im Forum
Kommentare, die du zu Angeboten anderer Mitglieder abgibst.
Abgabe von Bewertungen
Deine Kommunikation mit anderen Mitgliedern.
</code></pre>
  <p>Bitte beachte, dass diese von dir erstellten Inhalte aus technischen Gründen nach Beendigung deines Nutzungsvertrages weiterhin abrufbar bleiben, jedoch ohne Anzeige deines Mitgliednamens und mit dem Hinweis, dass die Inhalte von einem inzwischen gelöschten
    Mitglied stammen.</p>
  <h4>Standortdaten bestimmter Webbrowser</h4>
  <p>Bestimmter Webbrowser (z.B. Google Chrome) werden dich über den Webbrowser zur Verarbeitung deiner Standortdaten abgefragen. Erteilst du uns diese Einwilligung, ermittelt juuwl über den Webbrowser aus verschiedenen Quellen (GSM-Funkzelle, GPS-Standort,
    umliegende WLAN-Netze o.ä.) den Standort deines mobilen Endgeräts bzw. deines Computers. Standortdaten sind stets nur ungefähre Daten.</p>
  <p>Wir bitten um Verständnis, dass Dienste der Plattform, für die die Erhebung deines Standorts erforderlich ist (“Standortdienste”), nicht genutzt werden können, wenn die Einwilligung zur Erhebung der Standortdaten nicht erteilt wird. Wenn du dies nicht
    mehr möchtest, kannst du die zukünftige Erhebung deiner Standortdaten jederzeit über die Einstellungen in deinem Webbrowser verhindern. Auch dies kann jedoch dazu führen, dass du die Standortdienste nicht mehr nutzen kannst.</p>
  <p>juuwl verarbeitet die über deinen Webbrowser erhobenen Standardortdaten, um dir Artikel aus deiner Nähe anbieten zu können und andere Mitglieder in deiner Nähe zu treffen (standortbezogene Dienste). Wir werden deine Standortdaten nicht dauerhaft speichern,
    sondern nur solange und soweit dies für das Angebot der standortbezogenen Dienste erforderlich ist.</p>
  <h3>Für welche Zwecke wir deine Daten verarbeiten</h3>
  <p>Soweit nicht bereits unter gesondert dargelegt, verarbeiten wir deine Daten zu den folgenden Zwecken.</p>
  <h4>Erbringung unserer Dienste</h4>
  <p>Wir verarbeiten deine Daten zur Durchführung des Nutzungsvertrages, um die von dir auf unserer Plattform genutzten Dienste zu erbringen, insbesondere, um dir</p>
  <pre><code>den Handel mit Waren zu ermöglichen
die elektronische Abwicklung von Bezahlungen von auf der Plattform gekauften und verkauften Waren zu ermöglichen
zur Überprüfung deiner Identität und weiterer Details
die Kommunikation mit anderen Mitgliedern zu ermöglichen
Nachrichten zuzusenden, soweit dies für die Erbringung unserer Dienste erforderlich ist
eine Übersicht über deine Handelsaktivitäten auf der Plattform bereitzustellen (Transaktionshistorie)
zu deiner Person passende Angebote anderer Mitglieder anzuzeigen (z.B. Angebote, die zu deinem Geschlecht, deinem Alter, deiner Transaktionshistorie und deiner Kleidergröße passen)
Angebote aus deiner Nähe anzeigen zu können, was dir ermöglicht lokal zu handeln, Versandkosten zu sparen oder dich mit anderen Mitgliedern aus deiner Nähe zu treffen (standortbezogene Dienste)
unsere Dienste frei von technischen Fehlern anbieten zu können, und etwaige Fehler zu erkennen und beheben zu können.
</code></pre>
  <h4>Durchsetzung von Rechtsansprüchen, Verbesserung unserer Plattform,  Verhinderung und Aufklärung von unzulässigen Aktivitäten, Systemsicherheit</h4>
  <p>Wir verarbeiten deine Daten darüber hinaus zur Wahrung folgender berechtigter Interessen von juuwl und/oder von Dritten:</p>
  <pre><code>Beilegung von Streitigkeiten, Durchsetzung unserer AGB und Geltendmachung, Ausübung und Verteidigung von Rechtsansprüchen
Analyse und Auswertung der Nutzung unserer Plattform zur ständigen Verbesserung unserer Produkte und Dienstleistungen
Verhinderung, Aufklärung und Verfolgung von rechtswidrigen Aktivitäten, insbesondere von Betrugsfällen
Gewährleistung der Systemsicherheit der Plattform, des Schutzes der von uns gespeicherten Daten, Ermittlung von Cyberangriffen oder sonstigen Störungen der Integrität der Plattform
</code></pre>
  <h4>Erstellung von pseudonymisierten Nutzerprofilen</h4>
  <p>juuwl nutzt die bei der Registrierung und der Vervollständigung des Profils erhobenen Daten, die Daten über deine Tätigkeit im Forum, deine Log-Files, sowie deine mittels Cookies erhobenen Nutzungsdaten zur Erstellung pseudonymisierter Nutzerprofile
    (“Nutzerprofile”).
  </p>
  <p>juuwl wird diese Nutzerprofile allerdings unter keinen Umständen ohne deine Einwilligung in dem Sinne auswerten, dass der Bezug eines Nutzerprofils zu einer bestimmten Person hergestellt wird, d.h. die Identität der Mitglieder bleibt juuwl unbekannt.
    Außerdem gewährleistet juuwl in jedem Falle unter technischen, personellen und organisatorischen Gesichtspunkten, dass die pseudonymisierten Nutzerprofile ohne deine Einwilligung mit anderen personenbezogenen Daten der Nutzer nicht zusammengeführt
    werden.
  </p>
  <p>juuwl erstellt und verwendet die Nutzerprofile zur Wahrung folgender berechtigter Interessen:</p>
  <pre><code>Wir verwenden die Nutzerprofile, um das Verhalten der Mitglieder zu analysieren und zu verstehen. Dieses Verständnis ermöglicht es uns bei wichtigen und stark genutzten Diensten der Plattform Verbesserungen vorzunehmen und/oder fehlende Leistungen zu ergänzen.
Anhand der erstellten Nutzerprofile wird den Mitgliedern personalisierte Werbung präsentiert. Das bedeutet, dass auf das Nutzerprofil ausgerichtete interessengerechte Werbung präsentiert werden wird. Die Präsentation der Werbung erfolgt über die Einbindung von Werbung auf der Plattform und – sofern du uns deine Einwilligung erteilt hast – durch Zusendung per E-Mail an die von dir bei der Registrierung angegebene E-Mail-Adresse oder über die Mailboxen innerhalb des Accounts (Benachrichtigung oder Mailbox) der Plattform.
</code></pre>
  <h4>E-Mail Newsletter und sonstige werbliche E-Mail-Zusendung</h4>
  <p>Es steht dir frei, dich für unseren Newsletter und den Erhalt sonstiger werblicher E-Mails (“Werbe E-Mails”) anzumelden. Im Rahmen deiner Anmeldung bitten wir dich um deine Einwilligung zur Verarbeitung deiner E-Mail-Adresse zu Zwecken der Zusendung
    von Werbe-E-Mails, u.a., mit aktuellen Informationen zu unseren Leistungen und Produkten, insbesondere zu den auf der Plattform angebotenen Waren, besonderen Angeboten und Werbeaktionen. Nur wenn du uns deine Einwilligung gegeben hast, werden wir
    dir Werbe-E-Mails zusenden.</p>
  <p>Mit deiner Einwilligung erklärst du dich auch damit einverstanden, dass wir den Inhalt der Werbe-E-Mails entsprechend deinen Bedürfnissen und Interessen auf der Grundlage des ggf. über dich erstellten Nutzerprofils (siehe Ziffer 3.3) personalisieren
    dürfen. Sofern du uns auch die Einwilligung zur Platzierung von Cookies und zur Nachverfolgung deines Nutzerverhaltens auf unserer Plattform (siehe nachstehende Ziffer 8.2) gegeben hast, beinhaltet dies auch die Daten über deine Nutzung unserer Plattform.</p>
  <p>Die Einwilligung in die Zusendung von Werbe-E-Mails auf die angegebene E-Mail-Adresse kannst du jederzeit mit Wirkung für die Zukunft widerrufen, indem du in deinem juuwl-Account per Einstellung die Zusendung weiterer Werbe-E-Mails blockierst oder den
    “Abmelden”-Link am unteren Ende der Werbe-E-Mail anklickst… Durch den Widerruf wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.</p>
  <h3>Account-Verifikation zu Sicherheitszwecken</h3>
  <p>Wir verwenden die Daten über deine Nutzung unserer Plattform, insbesondere um mittels eines Algorithmus jedem Mitglied einen sogenannten “trust score” zu geben. Der “trust score” gibt Auskunft darüber, ob es Anzeichen für ein missbräuchliches Verhalten
    auf der Plattform gibt. In diesen Fällen senden wir dir über unseren Dienstleister automatisch eine Nachricht, in der wir dich bitten, uns aus Sicherheitsgründen deine Telefonnummer zu Zwecken der Account-Verifikation mitzuteilen. Du erhältst per
    SMS einen Code an die von dir angegebene Telefonnummer. Erst wenn du den Code in der App eingegeben hast, kannst du die App weiter nutzen; anderenfalls wird die Nutzung der Plattform geblockt. Deine Telefonnummer ist für Nutzer der Plattform nicht
    sichtbar und wird von uns für keine anderen Zwecke (insbesondere nicht für Werbezwecke) genutzt.</p>
  <h2>Sicherheit im Internet</h2>
  <p>Der Zugang zu deinem Account ist durch ein von dir gewähltes Passwort geschützt. Bitte achte unbedingt darauf, dass außer dir niemand Zugriff auf dieses Passwort hat. Bitte vergiss auch nicht, dich nach der Nutzung von juuwl über die entsprechende Schaltfläche
    abzumelden. Dies gilt besonders bei der Nutzung öffentlicher Computer. Wir weisen hiermit ausdrücklich darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen und nicht lückenlos vor dem
    Zugriff durch Dritte geschützt werden kann.</p>
  <p>Wir treffen alle erforderlichen technischen und organisatorischen Sicherheitsmaßnahmen, um deine Daten vor unerlaubtem Verlust, Zugriff sowie unerlaubter Veränderung, Offenlegung und Vernichtung zu schützen. Der Zugriff auf deine Daten ist beschränkt
    auf solche Personen, für die der Zugriff auf diese Daten zu den in dieser Datenschutzerklärung beschriebenen Verwendungszwecken zwingend erforderlich ist. Diese Personen sind zur Einhaltung der jeweils anwendbaren Datenschutzgesetze verpflichtet.</p>
  <h2>Auftragsverarbeitung</h2>
  <p>juuwl kann zur Erbringung bestimmter Dienste externe Dienstleister einsetzen, die in unserem Auftrag und auf unsere Weisung bestimmte Datenverarbeitungsvorgänge vornehmen (Auftragsverarbeiter). juuwl wählt die Auftragsverarbeiter nach Maßgabe der anwendbaren
    Datenschutzgesetze besonders sorgfältig aus und beachtet bei der Beauftragung, insbesondere die Festlegungen des schriftlichen Vertrages und die sonstigen gesetzlichen Vorgaben zur Auftragsverarbeitung.</p>
  <p>Die in unserem Auftrag ausgeführten Vorgänge umfassen</p>
  <pre><code>die Bereitstellung der technischen Infrastruktur zur Plattform und die Bereitstellung des Speicherplatzes;
Versanddienstlungen;
 Web- und Nutzungsanalysedienstleistungen;
Dienstleistungen zur Account-Verifikation;
 Kundenservice und Anfragebearbeitungsdienstleistungen;
 Zahlungsabwicklung und Treuhandservice;
Vetrauen und Sicherheit der Plattform (wie Betrugs- und Belästigungsprävention);
</code></pre>
  <p>Die von uns beauftragten Auftragsverarbeiter können unter Umständen Zugriff auf deine personenbezogenen Daten haben, dürfen diese jedoch ausschließlich zur Erfüllung der übertragenen Datenverarbeitung verwenden, und nicht zu anderen Zwecken. Auftragsverarbeiter
    werden darüber hinaus vertraglich verpflichtet, ein Datensicherheitsniveau zu gewährleisten, das dem von uns gewährleisteten Datensicherheitsniveau entspricht. Alle im Auftrag verarbeiteten Daten unterliegen unserer Kontrolle. Die Einhaltung unserer
    Weisungen, der vertraglichen Vereinbarungen mit dem Auftragsverarbeiter und die Einhaltung der Gewährleistung des Datensicherheitsniveaus überwachen wir fortlaufend.</p>
  <p>Einige dieser Dienstleister sind gegebenenfalls in Ländern außerhalb der EU/dem EWR ansässig, welche nicht ein Datenschutzniveau gewährleisten, das in der EU/dem EWR als angemessen angesehen wird. Wir haben mit diesen Dienstleistern jedoch entsprechende
    Verträge abgeschlossen, oder es bestehen andere Garantien, die sicherstellen, dass alle notwendigen Maßnahmen zum Schutz deiner Daten entsprechend den geltenden Anforderungen ergriffen werden. Fragen zu unseren Dienstleistern beantworten wir auf der
    Plattform im Hilfe-Center. Soweit die dort abrufbaren Informationen deine Fragen nicht vollständig beantworten, kannst du uns gerne z.B. per E-Mail an <a href="mailto:info@juuwl.de">info@juuwl.de</a> kontaktieren. In jedem Fall bieten wir dir die
    Möglichkeit, sowie weitere Informationen über die von uns implementierten Garantien oder ggf. eine Kopie von diesen per E-Mail zu erhalten.</p>
  <h2>Erfassung öffentlicher Inhalte durch externe Suchmaschinen</h2>
  <p>Wir weisen hiermit ausdrücklich darauf hin, dass dein Mitgliedsname, dein Profilbild und die Angaben “über dich” in deinem Profil, alle weiteren von dir veröffentlichten Inhalte, z.B. angebotene Artikel, Forenbeiträge, Kommentare zu Artikeln sowie das
    Datum deiner Registrierung und der Zeitpunkt deiner letzten Anmeldung öffentlich im Internet einsehbar sind und somit auch von externen Suchmaschinen erfasst werden können. Wir raten daher dringend davon ab, Adressen, Handy-Nummern, Email-Adressen
    oder sonstige Kontaktdaten oder sensible und private Angaben öffentlich zugänglich zu machen.</p>
  <h2>Offenlegung deiner Daten gegenüber Dritten</h2>
  <p>juuwl ist nach den gesetzlichen Bestimmungen verpflichtet, personenbezogene Daten und/oder Nutzungsdaten an Ermittlungs-, Strafverfolgungs- und Aufsichtsbehörden weiterzugeben, wenn und soweit dies zur Abwehr von Gefahren für die öffentliche Sicherheit
    und zur Verfolgung von Straftaten erforderlich ist.</p>
  <p>Darüber hinaus werden deine Daten nur dann an Dritte weitergegeben, wenn du in die Weitergabe eingewilligt hast oder du diese Daten Dritten selbst zugänglich gemacht hast (hiervon ausgenommen sind Dritte, die wir als Auftragsverarbeiter beauftragt haben).</p>
  <h2>Verwendung von Cookies</h2>
  <h3>Notwendige Cookies</h3>
  <p>Cookies sind kleine Textdateien, die unsere Plattform auf deinem Computer bzw. anderen internetfähigen Geräten wie Tablets oder Smartphones platzieren möchte. Sofern deine Browser-Einstellungen Cookies akzeptieren, fügt dein Browser den Text in einer
    kleinen Datei hinzu.</p>
  <p>Soweit nicht anderweitig in dieser Datenschutzerklärung angegeben, sind die von uns verwendeten Cookies für die Funktionsfähigkeit und Leistung unserer Plattform erforderlich. Dazu gehören beispielsweise Cookies, die es dir ermöglichen, dich für den
    geschützten Bereich unserer Plattform anzumelden, einen Artikel zu kaufen oder das elektronische Bezahlsystem zu benutzen; die meisten Cookies werden nach dem Ende deiner Browser-Session von deinem Gerät gelöscht (Session-Cookies). Wir verwenden die
    in den notwendigen Cookies gespeicherten Informationen ausschließlich dazu, dir die erbetenen Leistungen und Funktionen zur Verfügung zu stellen.</p>
  <h4>Cookie-Einwilligung</h4>
  <p>Wenn du unsere Plattform aufrufst, bitten wir dich zudem um deine Zustimmung zur Platzierung weiterer Cookies auf deinem Gerät, indem wir dir ein Cookie-Banner anzeigen und deine Einwilligung einholen. Diese Cookies sind für die Funktionsfähigkeit und
    Performance unserer Plattform nicht unbedingt notwendig, helfen uns jedoch dabei,</p>
  <pre><code>zu erkennen, wie viele Besucher die Plattform besuchen und wie sich die Besucher auf der Plattform bewegen. Das hilft uns, die Funktionsweise unserer Plattform zu verbessern, z.B. indem sichergestellt wird, dass die Benutzer das nach was sie suchen auch einfach finden (Analytische / Performance Cookies);
dich zu erkennen, wenn du unsere Plattform wieder besuchst. Dies ermöglicht uns, unsere Inhalte für dich zu personalisieren, dich mit Namen zu begrüßen und uns deine Vorlieben zu merken (Funktionale Cookies);
deinen Besuch auf unserer Plattform zu erfassen und welche Seiten du besuchst und welche Links du angeklickt hast. Wir werden diese Informationen benutzen, um unsere Plattform und die Werbung die dir angezeigt wird, besser auf deine Interessen zuzuschneiden. Soweit du uns deine Einwilligung in die Zusendung von Werbe-E-Mails gegeben hast (siehe unter Ziffer 3.4), benutzen wir diese Informationen auch, um dir personalisierte Werbe-E-Mails zuzusenden. (Targeting-Cookies).
</code></pre>
  <p>Das Cookie-Banner informiert dich darüber, warum wir Cookies verwenden. Mit deiner weiteren Nutzung unserer Plattform nach Anzeige des Cookie-Banners erklärst du dich damit einverstanden, dass wir Cookies zu den vorstehenden Zwecken verwenden („Cookie-Einwilligung“).</p>
  <p>Weitere Informationen zum Einsatz von Cookies durch juuwl sowie zu deinen Möglichkeiten, deine Einwilligung zu widerrufen bzw. der Verwendung der Cookies zu widersprechen, findest du in den nachfolgenden Ziffern dieser Datenschutzerklärung.</p>
  <h3>Verwaltung deiner Cookie-Einstellungen</h3>
  <p>Du kannst deinen Browser so konfigurieren, dass er einige oder alle Cookies ablehnt oder vorher deine Bestätigung fordert. Wenn du Cookies ablehnst, kann dies allerdings zur Folge haben, dass nicht alle unsere Dienste für dich störungsfrei funktionieren.
    Du kannst dich unter <a href="http://www.aboutcookies.org">www.aboutcookies.org</a> bzw. <a href="http://www.allaboutcookies.org">www.allaboutcookies.org</a> darüber informieren, wie du deine Browsereinstellungen anpassen bzw. ändern kannst. Sofern
    du für den Zugriff auf unsere Plattform unterschiedliche Geräte verwendest (z.B. Smartphone, Tablet, Computer, etc.) musst du sicherstellen, dass jeder Browser auf jedem Gerät entsprechend deinen Cookie-Präferenzen angepasst wird.</p>
  <h3>Verwendung von Cookies Dritter</h3>
  <p>Bei der Nutzung von juuwl können zudem Cookies oder Web Beacons weiterer Anbieter zur Sammlung von Informationen gesetzt werden. Dies dient bspw. der Reichweitenmessung sowie der Schaltung kontextsensitiver Werbung und sogenannter Targeting-Kampagnen.
    Auf Basis deiner Cookie-Einwilligung werden wir damit auch Nutzerprofile unter einem Pseudonym auswerten. Eine persönliche Identifikation findet jedoch nicht statt. Diese Tracking-Technologien Dritter bzw. deren Nutzung wird von uns nicht kontrolliert.</p>
  <p>Du kannst die Speicherung und Nachverfolgung durch solche Cookies Dritter durch eine entsprechende Anpassung bzw. Abänderung deiner Browser-Einstellungen verhindern.</p>
  <h3>Beschreibung von Cookies</h3>
  <p>Eine Übersicht über die von uns verwendeten Cookies findest du in der Beschreibung von Cookies.</p>
  <h2>Änderungsvorbehalt</h2>
  <p>Da wir unsere Dienste ständig weiterentwickeln, behalten wir uns das Recht vor, diese Datenschutzerklärung jederzeit unter Beachtung der geltenden rechtlichen Bestimmungen zu verändern. Änderungen werden wir auf dieser Seite rechtzeitig veröffentlichen.
    Unabhängig davon solltest du diese Seite regelmäßig aufrufen, um dich über den aktuellen Stand der Datenschutzerklärung zu informieren.</p>
  <h2>Dauer der Speicherung deiner Daten</h2>
  <p>Sofern nicht anderweitig in dieser Datenschutzerklärung angegeben oder durch gesetzliche Vorschriften bestimmt, speichern wir</p>
  <pre><code>die in dieser Datenschutzerklärung genannten personenbezogenen Daten ab dem Zeitpunkt ihrer Erhebung für 90 Tage
die mit deinen Transaktionen zusammenhängenden personenbezogene Daten ab dem Transaktionsdatum für 13 Monate
alle weiteren in dieser Datenschutzerklärung genannten personenbezogenen Daten bis zum Ablauf von drei Monaten nach Löschung deines juuwl-Accounts oder bis zum Ablauf von drei Monaten nach fünfjähriger Inaktivität deines juuwl-Accounts.
</code></pre>
  <h2>Deine gesetzlichen Rechte bzgl. deiner Daten</h2>
  <p>Gemäß den gesetzlichen Bestimmungen zum Datenschutz hast du jederzeit das Recht:</p>
  <pre><code>Auskunft über die von uns verarbeiteten Daten sowie eine Kopie dieser Daten zu verlangen (Recht auf Auskunft). Zudem kannst du sämtliche Daten, die du uns aktiv auf der Plattform mitgeteilt hast, jederzeit in deinem juuwl-Account abrufen
die Berichtigung unrichtiger Daten und, unter Berücksichtigung der Zwecke der Verarbeitung, die Vervollständigung unvollständiger Daten zu verlangen (Recht auf Berichtigung). Zudem kannst du sämtliche Daten, die du uns aktiv auf der Plattform mitgeteilt hast, jederzeit selbst in deinem juuwl-Account ändern (mit Ausnahme von versendeten Nachrichten und ggf. Forenbeiträgen und Bewertungen)
bei Vorliegen berechtigter Gründe die Löschung deiner Daten zu verlangen (Recht auf Löschung)
die Einschränkung der Verarbeitung deiner Daten zu verlangen, sofern die gesetzlichen Voraussetzungen gegeben sind (Recht auf Einschränkung der Verarbeitung)
bei Vorliegen der gesetzlichen Voraussetzungen die von dir bereitgestellten Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten an einen anderen Verantwortlichen zu übermitteln oder, soweit dies technisch machbar ist, durch juuwl übermitteln zu lassen (Recht auf Datenübertragbarkeit) und
nicht einer ausschließlich auf einer automatisierten Verarbeitung beruhenden Entscheidung unterworfen zu sein, sofern die gesetzlichen Voraussetzungen hierfür nicht vorliegen. Eine automatisierte Entscheidungsfindung wird von juuwl gegenwärtig nicht durchgeführt.
</code></pre>
  <p>Du hast zudem das Recht der Verarbeitung deiner Daten aus Gründen, die sich aus deiner besonderen Situation ergeben, in den gesetzlich vorgesehenen Fällen zu widersprechen. Werden deine personenbezogene Daten verarbeitet, um Direktwerbung zu betreiben,
    kannst du der Verarbeitung zum Zwecke derartiger Werbung in jedem Fall widersprechen (Widerspruchsrecht).</p>
  <p>Du hast zudem das Recht, jede von dir im Rahmen der Registrierung oder Nutzung unserer Dienste erteilte Einwilligungserklärungen jederzeit zu widerrufen, ohne dass hierdurch die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
    Verarbeitung berührt würde. Im Hinblick auf die Cookie-Einwilligung kannst du zu diesem Zweck die für die unterschiedlichen Dienste eingerichteten Abmelde- bzw. Deaktivierungsmechanismen nutzen. Dadurch wird ein permanentes Deaktivierungs-Cookie in
    einem Browser abgelegt, welches uns signalisiert, deinen Browser nicht zu erfassen. Bitte beachte, dass auch dieses Deaktivierungs-Cookie gelöscht wird, sofern du sämtliche in deinem Browser abgelegten Cookies entfernst. Zudem musst du den vorstehenden
    Prozess erneut durchführen, wenn du unsere Plattform mit einem anderen Endgerät oder einem anderen Browser nutzt.</p>
  <p>Deine Newsletter-Einwilligung kannst du widerrufen, indem du in deinem juuwl-Account per Einstellung die Zusendung weiterer Werbe-E-Mails blockierst oder den “Abmelden”-Link am unteren Ende der Werbe-E-Mail anklickst.</p>
  <p>Zur Ausübung deiner genannten Rechte kannst du dich an juuwl unter den nachfolgend aufgeführten Kontaktdaten wenden.</p>
  <h2>Unsere Kontaktdaten</h2>
  <p>Falls du Fragen zur Verarbeitung deiner Daten im Zusammenhang mit der Nutzung der Plattform hast, oder zur Ausübung deiner Rechte, kannst du dich jederzeit an uns oder unseren Datenschutzbeauftragten unter folgenden Kontaktdaten wenden:</p>
  <p>E-Mail: <a href="mailto:info@juuwl.de">info@juuwl.de</a></p>
  <p>juuwl Marktplatz<br> Tonndorfer Weg 20<br> 22149 Hamburg</p>
</div>
