<div class="row margin-bottom-24">
  <div class="col-sm-8">
    <div *ngIf="!loading" class="white">
      <div class="row margin-bottom-12">
        <div class="col-xs-12 margin-bottom-12">
          <img width="100%" height="auto" src="{{ url }}/{{ product.image | split: ',': 1 }}">
        </div>
        <div *ngIf="imageLength > 1" class="col-xs-12 padding-left-15 padding-right-27" style="display: flex;">
          <div class="margin-left-12" *ngFor="let image of product.image | split: ','">
            <a (click)="imageClicked($event)">
              <img width="100%" height="auto" src="{{ url }}/{{ image }}">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 padding-left-27 padding-right-27">
          <h1 [style.color]="headlineColor">{{ product.name }}</h1>
        </div>
      </div>

      <ul class="nav nav-tabs padding-left-12 padding-right-12">
        <li class="active"><a [style.color]="linkColor" data-toggle="tab" href="#home">{{ 'term_description' | translate }}</a></li>
        <li><a [style.color]="linkColor" data-toggle="tab" href="#menu3">{{ 'term_reviews' | translate }}</a></li>
        <li class="pull-right">
          <div style="align-self: flex-end">
            <aside *ngIf="showItemAddedToWishlist" class="margin-top-9 text-success">{{ 'term_item_on_wishlist' | translate }}</aside>
            <button *ngIf="!showItemAddedToWishlist" (click)="addToWishlist()" [style.border-color]="buttonColor" [ngStyle]="hover ? { 'background-color': buttonColor | color: -0.1 } : { 'background-color': buttonColor }" (mouseover)="hover=true" (mouseleave)="hover=false" type="button" class="margin-bottom-12 btn btn-primary">
              {{ 'term_add_wishlist' | translate }}
            </button>
          </div>
        </li>
      </ul>

      <div class="tab-content">
        <div id="home" class="padding-15 tab-pane fade in active">
          <p class="margin-bottom-24 reader-settings">{{ product.description }}</p>
          <h4 class="margin-bottom-0">{{ 'term_item_condition' | translate }}</h4>
          <p class="margin-bottom-0">{{ product.condition }}</p>
          <div *ngIf="product.zip && product.city">
            <h4 class="margin-bottom-0 margin-top-24">{{ 'term_item_location' | translate }}</h4>
            <p class="margin-bottom-12">{{ product.zip }} {{ product.city }}</p>
            <div *ngIf="product.lat && product.lng" style="height: 300px;" leaflet [leafletOptions]="options"></div>
          </div>
        </div>
        <div id="menu3" class="padding-15 tab-pane fade">
          <p class="margin-bottom-0">{{ 'term_seller_responsible' | translate }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="loading" style="display: flex; align-items: center; justify-content: center;">
      <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="padding-15 margin-bottom-24 white">
      <h1 [style.color]="headlineColor">{{ product.price }}{{ product.currency }} <small *ngIf="product.shipping_fee > 0" class="pull-right">Versand: {{ product.shipping_fee }}{{ product.currency }}</small></h1>

      <button (click)="onBuyNow()" [style.border-color]="successColor" [ngStyle]="hover ? { 'background-color': successColor | color: -0.1 } : { 'background-color': successColor }" (mouseover)="hover=true" (mouseleave)="hover=false" class="full-width btn btn-success">{{ 'term_buy_now' | translate }}</button>
    </div>
    <app-contact-user [product]="product"></app-contact-user>
    <div class="padding-15 margin-bottom-24 white">
      <h4 [style.color]="headlineColor" class="margin-top-0">{{ 'term_seller_information' | translate }}</h4>
      <p class="margin-bottom-0">By <a [style.color]="linkColor" routerLink="/user/{{ product.user_id }}">{{ product.user_name }}</a> in <a [style.color]="linkColor" routerLink="/category/{{ product.category_id }}">{{ product.category }}</a></p>
    </div>
  </div>
</div>
