<div class="row">
  <div class="col-sm-6">
    <h1>Your products</h1>
    <ul *ngIf="products.length > 0" class="list-unstyled margin-bottom-24">
      <li class="tender margin-bottom-24" *ngFor="let product of products">
        <div class="row">
          <div class="col-xs-12">
            <img class="" width="100%" height="auto" src="data:image/jpg;base64,{{ product.thumbnail | split: ',': 1 }}">
          </div>
          <div class="col-xs-12 padding-top-12 padding-left-24 padding-right-24">
            <button class="pull-right btn btn-primary btn-xs glyphicon glyphicon-edit" (click)="showUpdateForm(product.id)"></button>
            <button class="pull-right btn btn-danger btn-xs glyphicon glyphicon-trash margin-right-6" (click)="removeProductById(product.id)"></button>
            <h4>{{ product.name }}</h4>
            <p><strong>Preis {{ product.price }}</strong></p>
            <p>{{ product.description }}</p>
            <div *ngIf="editField == product.id" id="{{ product.id }}">
              <div class="form-group">
                <label for="{{ product.id }}-name">Name</label><br>
                <input class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.name" type="text" placeholder="Flowers" name="name" id="{{ product.id }}-name">
              </div>
              <div class="form-group col-xs-6 padding-left-0 padding-right-0">
                <label for="{{ product.id }}-price">Price</label><br>
                <input class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.price" type="text" placeholder="37€" name="price" id="{{ product.id }}-price">
              </div>
              <div class="form-group col-xs-6 padding-right-0">
                <label for="{{ product.id }}-price">Currency</label><br>
                <select class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.currency_id" name="Currency">
                  <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }} ({{ currency.unit_symbol }})</option>
                </select>
              </div>
              <div class="form-group">
                <label>Category</label>
                <select class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.category_id" name="category">
                    <option *ngFor="let productCategory of productCategories" [ngValue]="productCategory.id">{{ productCategory.name }}</option>
                  </select>
              </div>
              <div class="margin-bottom-12">
                <label for="{{ product.id }}-description">Description</label><br>
                <textarea class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.description" type="text" placeholder="Write a short description about your item" name="description" id="{{ product.id }}-description"></textarea>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <p *ngIf="products.length == 0">Hey add your first product!</p>
  </div>
  <div class="col-sm-6 margin-bottom-24">
    <app-upload></app-upload>
  </div>
</div>
