<div class="row">
  <div class="col-sm-6">
    <h1>{{ 'term_your_products' | translate }}</h1>
    <ul *ngIf="products.length > 0" class="list-unstyled margin-bottom-24">
      <li class="tender margin-bottom-24" *ngFor="let product of products">
        <div class="row">
          <div class="col-xs-12">
            <img id="image-{{ product.id }}" width="100%" height="auto" src="{{ url }}/{{ product.thumbnail }}">
            <div id="thumbnail-{{ product.id }}" class="margin-right-12" style="display: flex;">
              <ng-container *ngIf="product.image.length > 1">
                <div class="pos-relative margin-top-12 margin-left-12" *ngFor="let image of product.image">
                  <button class="pos-absolute pos-right-12 pos-top-12 btn btn-danger btn-xs glyphicon glyphicon-trash" (click)="removeImageById(image.id)"></button>
                  <img id="image-{{ image.id }}" class="full-height" width="100%" height="auto" src="{{ url }}/{{ image.image }}">
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-xs-12 padding-top-12 padding-left-27 padding-right-27">
            <button class="pull-right btn btn-primary btn-xs glyphicon glyphicon-edit" (click)="showUpdateForm(product.id)"></button>
            <button class="pull-right btn btn-danger btn-xs glyphicon glyphicon-trash margin-right-6" (click)="removeProductById(product.id)"></button>
            <h4>{{ product.name }}</h4>
            <p><strong>Preis {{ product.price }} {{ product.currency }}</strong></p>
            <p>{{ product.description }}</p>
            <div *ngIf="editField == product.id" id="{{ product.id }}">
              <div class="form-group">
                <label for="{{ product.id }}-name">Name</label><br>
                <input class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.name" type="text" placeholder="Flowers" name="name" id="{{ product.id }}-name">
              </div>
              <div class="form-group col-xs-6 padding-left-0 padding-right-0">
                <label for="{{ product.id }}-price">{{ 'term_price' | translate }}</label><br>
                <input class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.price" type="text" placeholder="37€" name="price" id="{{ product.id }}-price">
              </div>
              <div class="form-group col-xs-6 padding-right-0">
                <label for="{{ product.id }}-price">{{ 'term_currency' | translate }}</label><br>
                <select class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.currency_id" name="Currency">
                  <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }} ({{ currency.unit_symbol }})</option>
                </select>
              </div>
              <div class="form-group">
                <label>{{ 'term_category' | translate }}</label>
                <select class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.category_id" name="category">
                    <option *ngFor="let productCategory of productCategories" [ngValue]="productCategory.id">{{ productCategory.name }}</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="{{ product.id }}-description">{{ 'term_description' | translate }}</label><br>
                <textarea class="form-control" (blur)="updateEntry(product)" [(ngModel)]="product.description" type="text" placeholder="Write a short description about your item" name="description" id="{{ product.id }}-description"></textarea>
              </div>
              <div class="form-group">
                <label for="thumbnail">{{ 'term_image' | translate }}</label>
                <input id="imageFile" type="file" name="thumbnail" (change)="onFileSelected($event, product.id)" multiple>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div [style.color]="textColor" [style.background-color]="infoColor" class="alert" *ngIf="products.length == 0">Hey add your first product!</div>

    <canvas class="hidden" id="canvas" width="800" height="500"></canvas>
  </div>
  <div class="col-sm-6 margin-bottom-24">
    <app-upload (uploaded)="getAllProductsByUser()"></app-upload>
  </div>
</div>

<app-modal [id]="modalId" [error]="error"></app-modal>
