<div [style.background-color]="backgroundColor" class="min-height-100">
  <div class="white">
    <div class="container" style="height: 100px; padding-top: 9px;">
      <a routerLink="/" class="">
        <img src="{{ url }}/static/brand/logo_green_red_dot_de.png" width="300" height="auto">
      </a>
    </div>
  </div>
  <div *ngIf="!isPublic && isLoggedIn && !userConfirmed" [style.background-color]="warningColor" class="alert confirm-email">{{ userConfirmedMessage }}, <a class="pointer" (click)="resendConfirmationLink(userId)">resend link</a></div>
  <nav [style.background-color]="navbarColor" [style.border-color]="navbarColor" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <app-radius-search></app-radius-search>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" [class.navbar-padding]="!isLoggedIn">
          <li *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/login">{{ 'term_login' | translate }}</a></li>
          <li *ngIf="!isLoggedIn"><a class="nav-link" routerLink="/register">{{ 'term_sign_up' | translate }}</a></li>
          <li [style.background-color]="navbarColor" *ngIf="isLoggedIn" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img class="img-circle navbar-avatar" src="{{ userAvatar }}">
              {{ userName }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngIf="isAdmin"><a class="nav-link" routerLink="/users">{{ 'term_users' | translate }}</a></li>
              <li><a class="nav-link" routerLink="/inbox">{{ 'term_inbox' | translate }}</a></li>
              <li><a class="nav-link" routerLink="/create">Anzeige aufgeben</a></li>
              <li><a class="nav-link" routerLink="/orders">{{ 'term_my_orders' | translate }}</a></li>
              <li><a class="nav-link" routerLink="/product">{{ 'term_my_products' | translate }}</a></li>
              <li><a class="nav-link" routerLink="/product-category">{{ 'term_my_categories' | translate }}</a></li>
              <li><a class="nav-link" routerLink="/settings">{{ 'term_settings' | translate }}</a></li>
              <li><a class="nav-link" (click)="onLogout()" style="cursor: pointer;">{{ 'term_logout' | translate }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div (window:resize)="setElementHeight()" [style.height]="setElementHeight()" *ngIf="!isPublic && isLoggedIn && !userConfirmed" class="confirm-restricted"></div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<footer [style.background-color]="backgroundColor" class="footer">
  <div class="col-xs-12 padding-15 text-center">
    <a [style.color]="textColor" routerLink="/privacy">{{ 'term_privacy_policy' | translate }}</a> | <a [style.color]="textColor" routerLink="/imprint">{{ 'term_imprint' | translate }}</a>
  </div>
</footer>
