<div class="row">
  <div class="col-sm-6 col-md-4">
    <form [formGroup]="rForm" class="white padding-12" (ngSubmit)="onLogin(rForm.value)">
      <h1>Login</h1>
      <hr>
      <p>Don't have an account yet? <a routerLink="/register">Sign up</a></p>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email address" formControlName="email">
        <div class="alert margin-top-9" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
          {{ errorEmail }}
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        <div class="alert margin-top-9" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
          {{ errorPassword }}
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Login</button>
    </form>
  </div>
</div>

<app-modal [error]="error"></app-modal>
