<div class="row">
  <div class="pos-relative col-sm-4">
    <form [formGroup]='searchForm' autocomplete="new-password" novalidate>
      <input id="search" type="search" (click)="toggleDropDown()" formControlName="search" placeholder="search term">
    </form>
    <div appClickOutside (clickOutside)="toggleDropDown()" *ngIf="showDropDown" class="search-container">
      <div>
        <div (click)="selectValue(user.name)" *ngFor="let user of users | searchFilter: getSearchValue()" class="item">
          {{ user.name }}
        </div>
      </div>
    </div>
  </div>
</div>
