<ul class="custom-breadcrumb padding-0 margin-bottom-24">
  <li class="light-blue-crumb">Kategorie auswählen</li>
  <li class="light-blue-crumb">Anzeige aufgeben</li>
  <li class="light-blue-crumb">Anzeige veröffentlichen</li>
</ul>

<h1>Anzeige veröffentlichen</h1>
<div class="col-xs-12 white margin-bottom-24">
  <div class="row">
    <div class="col-md-4 padding-left-0 padding-right-0">
      <img width="100%" height="auto" src="{{ url }}/{{ thumbnail }}">
    </div>
    <div class="col-md-8 box-product-text">
      <div class="pos-absolute pos-top-12" style="right: -3px;">
        <span class="tags">
         <span class="price-tag"><a href="javascript:void()">{{ price }}{{ currency.unit_symbol }}</a></span>
        </span>
      </div>
      <div class="padding-right-12 padding-left-12 margin-bottom-18">
        <p class="margin-bottom-0"><a [style.color]="headlineColor" routerLink="#" class="h4">{{ itemName }}</a></p>
        <p [style.color]="textColor" class="margin-bottom-12"><small>By <a [style.color]="linkColor" routerLink="#">{{ user_name }}</a> in <a [style.color]="linkColor" routerLink="#">{{ category.name }}</a></small></p>
        <p [style.color]="textColor" class="margin-bottom-0 reader-settings">{{ description }}</p>
      </div>
      <div class="padding-right-12 padding-bottom-12 padding-left-12">
        <p class="margin-bottom-3"><strong>Information</strong></p>
        <ul class="list-unstyled list-inline">
          <li class="margin-bottom-3" *ngIf="shippingFee > 0">Verandkosten: {{ shippingFee }}{{ currency.unit_symbol }}</li>
          <li class="margin-bottom-3" *ngIf="shippingFee == 0">Kostenloser Versand</li>
          |
          <li class="margin-bottom-3">Artikelzustand: {{ condition.name }}</li>
          |
          <li class="">Standort: {{ zip }} {{ city }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row margin-bottom-24">
  <div class="col-xs-12">
    <button [style.border-color]="buttonColor" [ngStyle]="hover ? { 'background-color': buttonColor | color: -0.1 } : { 'background-color': buttonColor }" (mouseover)="hover=true" (mouseleave)="hover=false" type="submit" class="btn btn-primary pull-right">Jetzt veröffentlichen</button>
  </div>
</div>
