<h1>{{ 'term_add_product' | translate }}</h1>
<form [formGroup]="rForm" class="white padding-15" enctype="multipart/form-data" (ngSubmit)="onUpload(rForm.value)">
  <div class="form-group">
    <label [style.color]="textColor">Name</label>
    <input class="form-control" formControlName="name" type="text">
    <div [style.background-color]="alertColor" class="alert margin-top-9" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
      You must specify a product name
    </div>
  </div>
  <div class="form-group">
    <label [style.color]="textColor">{{ 'term_description' | translate }}</label>
    <textarea class="form-control" formControlName="description"></textarea>
    <div [style.background-color]="alertColor" class="alert margin-top-9" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">
      You must specify a description that's between 30 and 500 characters
    </div>
  </div>
  <div class="form-group col-xs-4 padding-left-0">
    <label [style.color]="textColor">Shipping fee</label>
    <input class="form-control" formControlName="shipping_fee" type="text">
    <div [style.background-color]="alertColor" class="alert margin-top-9" *ngIf="!rForm.controls['shipping_fee'].valid && rForm.controls['shipping_fee'].touched">
      You may specify a shipping_fee.
    </div>
  </div>
  <div class="form-group col-xs-4 padding-left-0 padding-right-0">
    <label [style.color]="textColor">{{ 'term_price' | translate }}</label>
    <input class="form-control" formControlName="price" type="text">
    <div [style.background-color]="alertColor" class="alert margin-top-9" *ngIf="!rForm.controls['price'].valid && rForm.controls['price'].touched">
      You must specify a price.
    </div>
  </div>
  <div class="form-group col-xs-4 padding-right-0">
    <label [style.color]="textColor">{{ 'term_currency' | translate }}</label>
    <select class="form-control" formControlName="currency">
      <option *ngFor="let currency of currencies" value="{{ currency.id }}">{{ currency.name }} ({{ currency.unit_symbol }})</option>
    </select>
  </div>
  <div class="form-group">
    <label [style.color]="textColor">{{ 'term_category' | translate }}</label>
    <select class="form-control" formControlName="category">
      <option *ngFor="let productCategory of productCategories" value="{{ productCategory.id }}">{{ productCategory.name }}</option>
    </select>
    <div [style.background-color]="alertColor" class="alert margin-top-9" *ngIf="!rForm.controls['category'].valid && rForm.controls['category'].touched">
      You must choose a category
    </div>
  </div>
  <div class="form-group">
    <label [style.color]="textColor">{{ 'term_image' | translate }}</label>
    <input type="file" formControlName="thumbnail" (change)="onFileSelected($event)" multiple>
  </div>
  <input [style.border-color]="buttonColor" [ngStyle]="hover ? { 'background-color': buttonColor | color: -0.1 } : { 'background-color': buttonColor }" (mouseover)="hover=true" (mouseleave)="hover=false" type="submit" class="btn btn-primary" value="{{ 'term_save_now' | translate }}" [disabled]="!rForm.valid">
</form>
