<div class="row margin-bottom-12">
  <div class="col-xs-12">
    <button type="button" class="btn btn-default" routerLink="/inbox" data-toggle="tooltip" title="Back">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;&nbsp;&nbsp;</button>
    <button type="button" class="btn btn-default" (click)="deleteMessageById()" data-toggle="tooltip" title="{{ 'term_delete_message' | translate }}">&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-trash"></span>&nbsp;&nbsp;&nbsp;</button>
    <button (click)="openReplyForm()" class="btn btn-default glyphicon glyphicon-share-alt"></button>
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ 'term_more' | translate }} <span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">{{ 'term_mark_all_as_read' | translate }}</a></li>
        <li class="divider"></li>
        <li class="text-center"><small class="text-muted">{{ 'term_select_more_for_action' | translate }}</small></li>
      </ul>
    </div>
  </div>
</div>
<div class="row margin-bottom-24" *ngFor="let message of messages; let i = index">
  <div class="col-xs-12">
    <div class="wrapper">
      <h1 *ngIf="i === 0" class="margin-bottom-9">{{ message.subject }}</h1>
      <hr *ngIf="i === 0" class="margin-top-9 margin-bottom-9">
      <div class="inbox-profil">
        <img *ngIf="message.avatar" src="{{ url }}/{{ message.avatar }}" width="32" height="32">
        <img *ngIf="!message.avatar" src="https://ssl.gstatic.com/ui/v1/icons/mail/profile_mask2.png">
      </div>
      <div class="inbox-message">
        <div class="margin-bottom-24">
          <strong>{{ message.user_name }}</strong><br>
          <small>{{ message.created | date : 'dd. MM. y, HH:mm ' }}</small>
        </div>
        <p class="inbox-text margin-bottom-0">{{ message.message }}</p>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="showReplyForm">
  <app-inbox-reply [parent]="messageId" [receiver]="messages[0].user_id" [subject]="messages[0].subject"></app-inbox-reply>
</ng-container>

<app-modal [id]="modalId" [error]="error"></app-modal>
